$max_width: 1600px;
$m_h: url("C:/Users/Sergey/Desktop/FL12_HW3/homework/img/m-h-day.jpg");
$font_family: 'Source Sans Pro', sans-serif;
$font_family_Hind: 'Hind', sans-serif;
$font_family_Fresca:'Fresca', sans-serif;
$font_footer: 'Hind', sans-serif;
$color_section:#1C1D21;
$color_footer: #1C1F26;
$color_button: #609211; 
$color_gradient: #0A4CC6;
$color_bunner: #000000;
$color_bunner_text: #FFFFFF;
$color_section_text: #000000;
$color_section_card_wrap: #FFFFFF;
$color_header_wrap: #000000;
$color_login: #FFFFFF;
$font_color_footer: #F4F5F5;


