$max_width: 1600px;
$m_h: url("C:/Users/Sergey/Desktop/FL12_HW3/homework/img/m-h-night.jpg");
$font_family: 'Source Sans Pro', sans-serif;
$font_family_Hind: 'Hind', sans-serif;
$font_family_Fresca:'Fresca', sans-serif;
$font_footer:'Fresca', sans-serif; 
$color_section: #2E3946;
$color_footer: #2E3946;
$color_button: #EDCD30 ; 
$color_gradient: #B82C52;
$color_bunner: #FFFFFF;
$color_bunner_text: #FFFFFF;
$color_section_text: #FFFFFF;
$color_section_card_wrap: #FFFFFF;
$color_header_wrap: #FFFFFF;
$color_login: #FFFFFF;
$font_color_footer: #F4F5F5;
