@media print {
	body {
		padding-top: 0px;
	}
	.tm-sidebar, .tm-team-img, .box-img, .gallery-container, .carousel-indicators, .img-contact-us, #contact {
		display: none;
	}
	.tm-content-box {
		margin-bottom: 0px;
	}
	.heading ol {
		padding-left: 180px;
	}
	.heading li:nth-child(odd) {
		text-align: right;
		padding-right: 50px;
	}
	.tm-main-content {
		padding-top: 0px;

	}
	.tm-team-description-container {
		max-width: none; 
	}
	.padding-medium {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 40px;
		padding-right: 40px;
	}
	h2 {
		text-align: center;
		color: lightskyblue;
		font-weight: 300;
	}
	p.tm-section-description {
		text-align: center;
	}
	.tm-content-box {
		margin-bottom: 0px;
	}
	ol {
		list-style-type: none;
		margin-bottom: 0px;
		margin-right: 130px;
	}
	.blocks p:nth-child(3) {
		font-style: oblique;
		word-spacing: 20px;
		letter-spacing: 5px;
	}
	.carousel {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
	}		
}

@media screen {
	.tm-nav-item:hover {
		background: lightskyblue;
		color: #fff;
	}
	.tm-banner{		
		width: 1056px;
		height: 160.703px;
		padding: 0px;
		margin: 0px;
		border: 30px solid transparent;
		-webkit-border-image: -webkit-linear-gradient(left, #87cefa 0%, #deb887 100%);
		border-image: -webkit-linear-gradient(left, #87cefa 0%, #deb887 100%);
		border-image-slice: 1;		
	}
	#home {
		box-shadow: 0px 0px 7px rgba(61, 55, 61, 0.7);
	}
	.tm-sidebar {
		box-shadow: 0px 0px 7px rgba(61, 55, 61, 0.7);
	}
	.tm-content-box {
		box-shadow: 0px 0px 7px rgba(61, 55, 61, 0.7);
	}
	.tm-banner-text {
		text-shadow: 5px 5px 3px #333;
	}
	p.tm-banner-text {
		animation: translating 5s 1;
		position: relative;
	}
	@keyframes translating {
		0% { 
			transform: translateX(200px);
			animation-timing-function: linear;
		}
		75% {
			transform: translateX(50px);
			animation-timing-function: ease-in;
		}
		100% {transform: translateX(0px);}
	}
	.tm-team-description-container {
		max-width: 350px; 
		float: left;
		margin-top: 170px;
		padding-left: 35px;
		padding-right: 35px;
	}	
	.tm-content-box h2:nth-child(1) {
		text-align: center;
	}
	.tm-content-box p:nth-child(2) {
		text-indent: 10%;
	}
	.tm-content-box p:nth-child(3) {
		text-indent: 10%;
	}
	li.box-bg:hover {
		background: lightgrey;
		color: lightskyblue;
		font-style: oblique;
	}
	.heading h2 {
		color: lightskyblue;
	}
	.heading li {
		list-style-type: lower-alpha;
	}
	.heading li::before {
		content: ">";
	}
	.heading li:nth-child(1)::after {
		content: "New";
		color: red;
		font-size: 65%;
		font-weight: bold;
		vertical-align: super;
	}
	.heading li:nth-child(3)::after {
		content: "New";
		color: red;
		font-size: 65%;
		font-weight: bold;
		vertical-align: super;
	}
	.blocks p:nth-child(3) {
		font-style: oblique;
		word-spacing: 10px;
		letter-spacing: 5px;
	}
	.blocks p:nth-child(2) {
		text-indent: 10%;
	}
	.blocks li {
		padding: 5px;
	}
	.blocks li:nth-child(odd) {
		background-color: lightskyblue;
		color: white;
	}
	#contact_name {
		border-color: transparent transparent lightskyblue;
	}
	#contact_email {
		border-color: transparent transparent lightskyblue;
	}
	#contact_subject {
		border-color: transparent transparent lightskyblue;
	}
	#contact_message {
		border: 1px solid lightskyblue;
	}
	#contact h2 {
		text-align: left;
	}
	#contact_name:focus {
		background: lightskyblue;
	} 	
	#contact_email:focus {
		background: lightskyblue;
	} 	
	#contact_subject:focus {
		background: lightskyblue;
	} 	
	.btn-primary {
		background-color: #fff;
		color : lightskyblue;
		border-color: lightskyblue; 
	}
}

